<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://www.dafont.com/hanging-letters.font" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Overview</a></li>
            <li><a href="{{ url_for('buy') }}">Buy</a></li>
            <li><a href="{{ url_for('chart') }}">Chart</a></li>
            <li><a href="{{ url_for('account') }}">Account</a></li>
        </ul>
    </nav>
    <div class="welcome-text">
        <div class="image-container">
            <img src="{{ url_for('static', filename='imgs\image-removebg-preview.png') }}" alt="Description of the image">
        </div>
        <p>Welcome to Our Online Grocery Store</p>
        <p>Since 1999, we have been dedicated to providing our customers with the finest selection of fresh, affordable, and delicious groceries. Our commitment to quality means that every product we offer meets the highest standards, ensuring you enjoy the best flavors right at your doorstep.</p>
        <p>With our user-friendly online platform, shopping for your favorite groceries has never been easier. Explore a wide variety of fresh produce, pantry staples, and unique culinary delights, all at competitive prices. Join our community of satisfied customers who have made us their go-to destination for tasty, budget-friendly grocery shopping.</p>
        <p>Experience the difference with our exceptional service and unbeatable value—because everyone deserves fresh, cheap, and tasty groceries!</p>
    </div>
</body>
</html>
