<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Overview</a>
        <a href="{{ url_for('buy') }}">Buy</a>
        <a href="{{ url_for('chart') }}">Chart</a>
        <a href="{{ url_for('account') }}">Account</a>
    </nav>
    
    <div>
        <h2>Welcome, <span id="user-name"></span>!</h2>
        <p>Email: <span id="user-email"></span></p>
        <p>Password: <span id="user-password"></span></p>
    </div>

    <script>
         // Retrieve the username and password from localStorage
         const username = localStorage.getItem('username');
         const password = localStorage.getItem('password');
         if (username && password) {
             document.getElementById('user-name').innerText = username;
             document.getElementById('user-password').innerText = password;
         } else {
             alert('No username or password found. Please log in again.');
             window.location.href = '{{ url_for("login") }}'; // Redirect to login page
         }
    </script>
</body>
</html>
